/* Variables de color */
$color-primary: rgb(224, 175, 39);
$color-secondary: rgb(219, 141, 52);
$color-tertiary: rgba(0, 0, 0, 0.5);

/* sobre nosotros */
@media (min-width: 768px) {
  body {
    margin-bottom: 100px;
  }
}
  .about-us {
    padding: 40px 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

  .img-right {
    max-width: 100%;
    height: auto;
  }

  p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
/* Sconjunto de estilos */
body {
  color: #fff;
  @media (max-width: 425px) {
    background-size: 590vh;
  }
}

.product-section {
  padding: 40px 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.show {
    animation: fadeInUp 0.5s ease forwards;
  }

  /* Animación de fadeInUp */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Animación de fadeInUp */
  .product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 40px;

    img {
      max-width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out, transform-origin 0s;

      &:hover {
        transform: scale(1.1);
        transform-origin: 50% 50%;
      }

      &:not(:hover) {
        transform: scale(1);
      }
    }

    /* Otros estilos para productos */
    .product-text {
      text-align: center;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .buy-button {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #fff;
      color: #000;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}

/* Confirmacion */
body {
  padding: 0;
  height: 100vh;
}

.address-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  height: 45px;
}

.purchase-section {
  padding: 40px 20px;
  padding-bottom: 125px;
}

.purchase-content {
  display: flex;
  justify-content: center;
  align-items: center;


  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    flex: 1;
  }
}

.purchase-content-text {
  text-align: left;
  padding: 20px;
  flex: 1;
}

.confirm-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.Precio {
  font-size: x-large;
  font-style: italic;
  color: #56e743;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
    .address-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      height: 45px;
    }
h2 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 60px;
}

/* Código principal */
body {
  margin: 0;
  background-image: url("../imagenes/hap.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10%;
  overflow-x: hidden;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body.loaded {
  opacity: 1;
}

header {
  background-color: $color-secondary;
  padding: 20px;
  width: 100%;
}

.navbar-custom {
  background-color: $color-primary;
}

footer {
  background-color: $color-primary;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin-top: auto;
  text-shadow: 2px 2px 4px $color-tertiary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social-links a {
    color: #fff;
    margin-right: 10px;
  }
}
@media (max-width: 425px){
  body{background-size: 590vh;
      }
  }
  @media (min-width: 768px){
  body{background-size: 300vh;
      }
  }
/* Acerca de y Contacto */
.about-us,
.contact-section {
  padding: 40px 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img-right {
  max-width: 100%;
  height: auto;
}

p {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
