body {
    margin: 0;
    background-color:rgb(219, 141, 52);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
header {
    background-color: rgb(219, 141, 52);
    color: #fff;
    padding: 20px;
}

.navbar-custom {
    background-color: rgb(224, 175, 39); 
    width: 100%;
}
footer {
    background-color: rgb(224, 175, 39); 
    color: #fff; 
    padding: 10px; 
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.social-links a {
    color: #fff;
    margin-right: 10px;
}
.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100%;
    text-align: center;
    color: #fff;
    top: 10%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.carousel-caption h1 {
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.carousel-caption p {
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.row{
    margin: 10px;
}
        @media (min-width: 768px) {
    .carousel-caption h1 {
        font-size: 3em;
    }

    .carousel-caption p {
        font-size: 2.5em;
    }
}  
p{color: white;}
@media (max-width: 767px) {
    .carousel-caption h1 {
        font-size: 2em;
    }

    .carousel-caption p {
        font-size: 1.5em;
    }
}

@media (max-width: 320px) {
    .carousel-caption h1 {
        font-size: 1.5em;
    }

    .carousel-caption p {
        font-size: 1em;
    }
    .col-md-6{font-size: 0.65em;
    }
}
@media (max-width: 425px) {
    footer p{
        font-size: 0.65em;
    }
}